@model SmashPopMVC.Models.ApplicationUser.UserFriendModel

<div class="col-6 card flex-item" title="@Model.FriendData.MainName">
    <a asp-controller="ApplicationUser" asp-action="Profile" asp-route-id="@Model.FriendData.ID">
        <h4 class="card-title">@Model.FriendData.Name</h4>
        <img class="card-img-top character @Model.FriendData.MainImage center-block" alt="...">
    </a>
    @if (!Model.Accepted)
    {
        <form asp-controller="Friend" asp-action="Accept">
            <input type="hidden" asp-for="@Model.RequestID" class="requestID" />
            <button class="accept-friend btn btn-default" value="submit">Accept</button>
        </form>
    }
</div>

