@model SmashPopMVC.Models.Vote.VoteListingModel;

<div class="container">
    <div class="row">
        <table class="table table-hover table-bordered" id="userVoteListingTable">
            <tbody>
                @foreach (var vote in Model.Results)
                {
                    <tr>
                        <td>
                            <div class="center">
                                <div class="row flex-item most-difficult">
                                    <div class="card flex-item">
                                        <img title="vote.MostDifficult.Name" class="card-img-top character @vote.MostDifficult.ImageName relative-parent" alt="...">
                                    </div>
                                </div>
                                <div class="row flex-item least-difficult">
                                    <div class="card flex-item">
                                        <img title="vote.LeastDifficult.Name" class="card-img-top character @vote.LeastDifficult.ImageName relative-parent" alt="...">
                                    </div>
                                </div>
                                <div class="row flex-item flavor-of-the-month">
                                    <div class="card flex-item">
                                        <img title="vote.FlavorOfTheMonth.Name" class="card-img-top character @vote.FlavorOfTheMonth.ImageName relative-parent" alt="...">
                                    </div>
                                </div>
                                <div class="row flex-item most-powerful">
                                    <div class="card flex-item">
                                        <img title="vote.MostPowerful.Name" class="card-img-top character @vote.MostPowerful.ImageName relative-parent" alt="...">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>@vote.Created</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
