@using Microsoft.AspNetCore.Identity;
@using SmashPopMVC.Models.ApplicationUser
@using SmashPopMVC.Models.Comment
@using SmashPopMVC.Models.Vote
@using SmashPopMVC.Models.Friend

@model SmashPopMVC.Models.ApplicationUser.ProfileIndexModel

<div id="Profile" class="p-0">
    <div id="ProfileData" class="row">
        <div class="col-xs-12 col-md-6">
            <h2 id="ProfileUserName">@Model.Name's profile</h2>
            <div id="UserProfileImages" class="profileImages">
                <div id="Main" class="@("col-6 card" + (Model.IsCurrentUser ? " modal-link updatable" : ""))">
                    <h6 class="card-title">Main</h6>
                    <img title="@Model.Main.Name"
                         class="card-img-top character @Model.Main.ImageName"
                         data-id="@Model.Main.ID"
                         alt="...">
                </div>
                <div id="Alt" class="@("col-6 card " + (Model.IsCurrentUser ? "modal-link updatable" : ""))">
                    <h6 class="card-title">Alt</h6>
                    <img title="@Model.Alt.Name"
                         class="@Model.Main.ID card-img-top character @Model.Alt.ImageName clickable"
                         data-id="@Model.Alt.ID"
                         alt="...">
                </div>
            </div>
            @Html.Partial("_UserUpdatePartial", Model.UpdateViewModel)
            <div id="JoinDate">
                <h4>User since: @Model.Joined</h4>
            </div>
            @if (User.Identity.IsAuthenticated && !Model.IsCurrentUser)
            {
                if (Model.Friends.CurrentUserFriend == null)
                {
                    @Html.Partial("../Friend/_AddFriendPartial", new AddFriendViewModel { CurrentUserID = Model.CurrentUserID, ProfileUserID = Model.ID });
                }
                else
                {
                    if (Model.Friends.RequestPartnershipViewModel != null)
                    {
                        @Html.Partial("../Friend/_RequestPartnershipPartial", Model.Friends.RequestPartnershipViewModel);
                    }
                }
            }
            @if (Model.Friends.PartnerFriend != null)
            {
                <br />
                <div id="PartnerImages" class="profileImages">
                    <h4>Partner: <a asp-controller="ApplicationUser" asp-action="Profile" asp-route-id="@Model.Friends.PartnerFriend.FriendData.ID">@Model.Friends.PartnerFriend.FriendData.Name</a></h4>
                    <div class="col-6 card">
                        <h6 class="card-title">Main</h6>
                        <img title="@Model.Friends.PartnerFriend.FriendData.MainName"
                             class="card-img-top character @Model.Friends.PartnerFriend.FriendData.MainImage"
                             alt="...">
                    </div>
                    <div class="col-6 card">
                        <h6 class="card-title">Alt</h6>
                        <img title="@Model.Friends.PartnerFriend.FriendData.AltName"
                             class="card-img-top character @Model.Friends.PartnerFriend.FriendData.AltImage"
                             alt="...">
                    </div>
                </div>
                @if (Model.IsCurrentUser)
                {
                    @Html.Partial("../Friend/_CancelPartnershipPartial", new RequestPartnershipViewModel { CurrentUserID = Model.CurrentUserID, FriendID = Model.Friends.PartnerFriend.RequestID })
                }
            }
            </div>
        <div id="RecentVotes" class="col-xs-12 col-md-6 container">
            @if (!Model.Votes.CurrentVote)
            {
                @if (Model.IsCurrentUser)
                {
                    @Html.ActionLink("Vote now!", "New", "Vote", Model.Votes.NewVoteModel)
                }
            }
            else
            {
                <p class="text-success"><i class="fas fa-check"></i>@if (Model.IsCurrentUser) { <span>You have</span> } else { <span>This user has</span> } already voted this month.</p>
            }
            @if (Model.Votes.Results.Any())
            {
                <a asp-controller="Vote" asp-action="Results" asp-route-id="@Model.ID" method="post"><h4>Vote History:</h4></a>
                @Html.Partial("../Vote/_voteListingPartial", Model.Votes)
            }
            else
            {
                <h3>@if (Model.IsCurrentUser) { <span>You have</span> } else { <span>This user has</span> }  no votes.</h3>
            }
        </div>
    </div>
    <div id="ProfileSocial" class="row">
        <div id="ProfileComments" class="col-xs-12 col-md-7">
            @Html.Partial("../Comment/_ProfileCommentsPartial", Model.Comments)
        </div>
        <div class="col-sm-1"></div>
        <div id="ProfileFriends" class="col-xs-12 col-md-4">
            @Html.Partial("../Friend/_ProfileFriendsPartial", Model.Friends)
        </div>
    </div>
</div>