@using Microsoft.AspNetCore.Identity;

@model SmashPopMVC.Models.ApplicationUser.UserSearchModel

<div class="container body-content">
    <div class="row">
        @if (Model.Results.Any())
        {
            <table class="table table-hover table-bordered" id="userListingTable">
                <tbody>
                    @foreach (var user in Model.Results)
                    {
                        <tr>
                            <td>
                                <div class="row flex-container">
                                    <div class="card flex-item" title="@user.MainName">
                                        <img class="card-img-top character @user.MainImage" alt="...">
                                    </div>
                                    <div class="card flex-item" title="@user.AltName">
                                        <img class="card-img-top character @user.AltImage" alt="...">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="userSocial">
                                    <div class="userName">
                                        <a asp-controller="ApplicationUser" asp-action="Profile" asp-route-id="@user.ID">@user.Name</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="userData">
                                    <div class="dateJoined">
                                        @user.Joined
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="noResults">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                    Can't find users by that query. Try again?
                </h3>
            </div>
        }
    </div>
</div>