@model SmashPopMVC.Models.Vote.NewVoteModel
<div class="container">
    <div class="row">
        <div class="col-md-6 col-offset-3">
            <h3>Who did you find <strong>hardest</strong> to beat in @Model.TallyData.Month, @Model.TallyData.Year?</h3>
            <div id="MostDifficult" class="voteIcon col-6 card flex-item modal-link">
                <img title="Random" class="card-img-top character random" alt="...">
            </div>
            <br />
            <h3>Who did you find <strong>easiest</strong> to beat in @Model.TallyData.Month, @Model.TallyData.Year?</h3>
            <div id="LeastDifficult" class="voteIcon col-6 card flex-item modal-link">
                <img title="Random" class="card-img-top character random" alt="...">
            </div>
            <br />
            <h3>Who was the <strong>flavor of the month</strong> in @Model.TallyData.Month, @Model.TallyData.Year?</h3>
            <div id="FlavorOfTheMonth" class="voteIcon col-6 card flex-item modal-link">
                <img title="Random" class="card-img-top character random" alt="...">
            </div>
            <br />
            <h3>Who is the <strong>most powerful</strong> character in smash right now?</h3>
            <div id="MostPowerful" class="voteIcon col-6 card flex-item modal-link">
                <img title="Random" class="card-img-top character random" alt="...">
            </div>
        </div>
    </div>
    <form asp-controller="Vote" asp-action="Add" id="VoteSubmitForm">
        <input type="hidden" asp-for="@Model.Created" id="CreatedInput" />
        <input type="hidden" asp-for="@Model.UserID" id="UserIDInput" />
        <input type="hidden" asp-for="@Model.MostDifficult.ID" id="MostDifficultIDInput" />
        <input type="hidden" asp-for="@Model.LeastDifficult.ID" id="LeastDifficultIDInput" />
        <input type="hidden" asp-for="@Model.FlavorOfTheMonth.ID" id="FlavorOfTheMonthIDInput" />
        <input type="hidden" asp-for="@Model.MostPowerful.ID" id="MostPowerfulIDInput" />
        <input type="hidden" asp-for="@Model.Created" id="Created" />
        <input type="hidden" asp-for="@Model.TallyData.ID" id="TallyDataInput" />
        <button id="SubmitVote" class="btn btn-dark" value="submit"><i class="fa fa-database"></i> Submit</button>
    </form>

</div>


