@model SmashPopMVC.Models.Comment.CommentDataModel

<div class="comment">
    <p class="comment-content">@Model.Content</p>
    <div class="comment-links">
        <div class="comment-poster">
            by <a asp-controller="ApplicationUser" asp-action="Profile" asp-route-id="@Model.PosterID">@Model.PosterName</a>
        </div>
        <span>|</span>
        <div class="comment-date">
            @Model.Date
        </div>
        <span>|</span>
        <div class="comment-time">
            @Model.Time
        </div>
        @if (Model.NewCommentModel.PosterID == Model.PosterID)
        {
            <span>|</span>
            <form asp-controller="Comment" asp-action="Update" class="EditCommentForm">
                <input type="hidden" asp-for="@Model.ID" class="ID" />
                <textarea placeholder="Content..." asp-for="@Model.Content" class="content-input" style="display: none;"></textarea>
                <button class="edit-button" onclick="return false;">Edit</button>
            </form>
        }
        <span>|</span>
        @Html.Partial("../Comment/_NewPartial", Model.NewCommentModel)
    </div>
    <div class="replies">
        @if (Model.Replies != null)
        {
            @foreach (var reply in Model.Replies)
            {
                @Html.Partial("../Comment/Edit", reply)
            }
        }
    </div>
</div>